@model Lab3.Models.Tbl_Order_Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Order_Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Order.Or_ToName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Order.Or_ToName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Product.Pr_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Product.Pr_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
