@model IEnumerable<Lab3.Models.Tbl_Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.Cu_FirstName)*@
            @Html.ActionLink("First name", "Index", new { sortOrder = ViewBag.FirstnameSort })
        </th>
        <th>
            @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.LastnameSort })
            @*@Html.DisplayNameFor(model => model.Cu_LastName)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cu_Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cu_ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cu_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cu_PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Payment_Method.Pa_Method)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cu_FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cu_LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cu_Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cu_ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cu_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cu_PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tbl_Payment_Method.Pa_Method)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cu_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Cu_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cu_ID })
            </td>
        </tr>
    }

</table>
